<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" >
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/productCart.css">
</head>
<body>
    <!--Navbar-->
    <header class="header-not-logged-in">
        <!--Boton menu-->
        <div class="div-btn-menu">
            <label for="show-menu">
                <img src="images/icons/Hamburguesa.svg" alt="Menu principal" class="btn-menu">
            </label>
        </div>
        <input type="checkbox" id="show-menu" hidden>
        <!--Opciones del menu-->
        <div class="menu-options">
            <a href="#logout">Cerrar Sesion</a>
            <a href="#profile">Mi Perfil</a>
            <a href="#purchases-history">Historial de Compras</a>
        </div>
        <!--Logo-->
        <div class="logo-container">
            <a href="/views/home.html">
                <img src="images/icons/Logo-KeepLearning.svg" alt="logo-kl" class="logo">
            </a>
        </div>
        <!--Botón de búsqueda-->
        <div class="div-btn-search">
            <label for="show-search">
                <img src="images/icons/Buscar.svg" alt="Botón búsqueda" class="btn-search">
            </label>
        </div>
        <input type="checkbox" id="show-search" hidden>
        <!--Botón carrito-->
        <div class="div-btn-cart">
            <label for="show-cart">
                <img src="images/icons/Carrito.svg" alt="Botón carrito de compras" class="btn-cart">
            </label>
        </div>
        <input type="checkbox" id="show-cart" hidden>
    </header>
    <main>
        <h1 class="titulo">Carrito</h1>
        <div class="main">
            <div class="articulos">
                <article class="cursoAComprar">  
                    <img src="/images/courses/artificial-intelligence.jpg" alt="Curso de AI">    
                    <div class="descripcion">
                        <div class="nombre-creador">
                            <p class="nombre">Curso de inteligencia artificial</p>
                            <p class="creador">Creado por: Diego Torres Morales</p>
                        </div>
                        <div class="precio-eliminar">
                            <a class="eliminar" href=""><p>Eliminar</p></a>
                            <h6 class="precio">$359 MXN</h6>
                        </div>
                    </div>
                </article>
                <article class="cursoAComprar"> 
                    <img src="/images/courses/html.jpg" alt="Curso de HTML"  >
                    <div class="descripcion">    
                        <div class="nombre-creador">
                            <p class="nombre">Curso de HTML nivel principiante</p>
                            <p class="creador">Creado por: Rosa Ibarra</p>
                        </div>
                        <div class="precio-eliminar">
                            <a class="eliminar" href=""><p>Eliminar</p></a>
                            <h6 class="precio">$249 MXN</h6>
                        </div>
                    </div> 
                </article>
            </div>
            <div class="totalAPagar">
                <h3>Total a pagar:</h3>
                <h2 class="total">$448 MXN</h2>
                <p class="boton">Comprar ahora</p>
            </div>
        </div>
        <h2 class="subtitulo">También podría gustarte</h2>
        <div class="CarouselContainer">
            <div class="Carousel">
                <article class="CourseCard">
                    <img class="CourseCardImage" src="/images/courses/PowerBICourse.jpeg" alt="Thumbnail de curso de Power BI">
                    <h5 class="CourseCardTitle">Curso Power BI – Análisis de Datos y Business Intelligence</h5>
                    <h6 class="CourseCardCreator">Creado por: Universidad Nacional Autónoma de México</h6>
                    <section class="CourseRating">
                        <h5 class="CourseGrade">4.0</h5>
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaVacia.svg" alt="Estrella" width="24px" height="24px">
                        <h6 class="CourseReviews">(1,240)</h6>
                    </section>
                    <h4 class="CourseCardPrice">$ 199 MXN</h4>
                </article>
                <article class="CourseCard">
                    <img class="CourseCardImage" src="/images/courses/reactCourse.jpeg" alt="Thumbnail de curso de React">
                    <h5 class="CourseCardTitle">Aprende React y Firebase, curso de 2021</h5>
                    <h6 class="CourseCardCreator">Creado por: Universidad Nacional Autónoma de México</h6>
                    <section class="CourseRating">
                        <h5 class="CourseGrade">4.5</h5>
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaMitad.svg" alt="Estrella" width="24px" height="24px">
                        <h6 class="CourseReviews">(67,640)</h6>
                    </section>
                    <h4 class="CourseCardPrice">$ 279 MXN</h4>
                </article>
                <article class="CourseCard">
                    <img class="CourseCardImage" src="/images/courses/typescriptCourse.jpeg" alt="Thumbnail de curso de TypeScript">
                    <h5 class="CourseCardTitle">Aprende Typescript de 0 a 100</h5>
                    <h6 class="CourseCardCreator">Creado por: Universidad Nacional Autónoma de México</h6>
                    <section class="CourseRating">
                        <h5 class="CourseGrade">3.9</h5>
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaMitad.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaVacia.svg" alt="Estrella" width="24px" height="24px">
                        <h6 class="CourseReviews">(3,195)</h6>
                    </section>
                    <h4 class="CourseCardPrice">$ 179 MXN</h4>
                </article>
                <article class="CourseCard">
                    <img class="CourseCardImage" src="/images/courses/gitCourse.jpeg" alt="Thumbnail de curso de Git y Github">
                    <h5 class="CourseCardTitle">GIT+GitHub: Todo un sistema de control de versiones de cero</h5>
                    <h6 class="CourseCardCreator">Creado por: Universidad Nacional Autónoma de México</h6>
                    <section class="CourseRating">
                        <h5 class="CourseGrade">5.0</h5>
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <h6 class="CourseReviews">(30,195)</h6>
                    </section>
                    <h4 class="CourseCardPrice">$ 259 MXN</h4>
                </article>
            </div>
        </div>
    </main>
    <footer>
        <div class="FooterContainer">
            <div class="Empresa">
                <h5 class="FooterTitle">Empresa</h5>
                <h6 class="FooterItem">¿Quiénes somos?</h6>
                <h6 class="FooterItem">¿Qué ofrecemos?</h6>
                <h6 class="FooterItem">Historia</h6>
                <h6 class="FooterItem">Catálogo de cursos</h6>
                <h6 class="FooterItem">Trabaja con nosotros</h6>
            </div>
            <div class="Legal">
                <h5 class="FooterTitle">Legal</h5>
                <h6 class="FooterItem">Política de privacidad</h6>
                <h6 class="FooterItem">Términos y condiciones de uso</h6>
            </div>
            <div class="Contactanos">
                <h5 class="FooterTitle">Contáctanos</h5>
                <h6 class="FooterItem">Blog</h6>
                <h6 class="FooterItem">Ayuda y asistencia</h6>
                <h6 class="FooterItem">Soy universidad</h6>
                <h6 class="FooterItem">Soy empresa</h6>
            </div>
            <div class="Social">
                <img src="/images/icons/Logo-Facebook.svg" alt="Facebook" height="32px" width="32px">
                <img src="/images/icons/Logo-Instagram.svg" class="InstagramLogo" alt="Instagram" height="32px" width="32px">
                <img src="/images/icons/Logo-LinkedIn.svg" alt="LinkedIn" height="32px" width="32px">
            </div>
            <div class="Logo">
                <img src="/images/icons/Logo-KeepLearning.svg" alt="KeepLearning.svg">
            </div>
        </div>
        <small class="FooterEnding">©2021, Keep Learning. Todos los derechos reservados.</small>
    </footer>
</body>
</html>