*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;    
 font-family:"Roboto";
 color: white;
}
:root{
    /*FUENTE*/
    --font:"Roboto";
    /*COLORES*/
    --brandColor: #25C998;
    --BrandPurple:#5157B5;
    --BrandPurpleDark:#363A84;
    --darkBlueLogo:#1A1D53;
    --darkBlue100:#030634;
    --secondaryColor:#C4C4C4;
    --White:#FFFFFF;
    --Black:#000000;
}
body{
    background-color: #363A84;
}

.header-not-logged-in{
    width: 100vw;
    margin: 0;
    display: flex;
    background-color: #1A1D53;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
}
.div-btn-menu{
    display: block;
    width: 40px;
    height: 40px;
    margin-left: 5.55%;
    border-radius: 8px;
    border: 1px solid #5156B5;
    background-color: #363A84;
}
.menu-options{
    display: none;
    margin: 0;
    padding: 0;
}
.menu-options > a{
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    position: relative;
}
.menu-options > li:hover {
    background-color: dimgray;
    position: relative;
}
.menu-options > li a, .menu-options > li label {
    text-decoration: none;
    color: #fff;
    width: 100%;
    display: block;
    min-height: inherit;
    padding: 8px;
}
input[type="checkbox"]:checked + .menu-options{
    display: block;
}
.logo-container{
    margin-left: 21.11%;
    margin-right: 5.55%;
}
.div-btn-search{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-right: 4.44%;
    border: 1px solid #5156B5;
    background-color: #363A84;
}
.btn-search{
    width: 40px;
    height: 40px;
}
.div-btn-cart{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-right: 5.55%;
    border: 1px solid #5156B5;
    background-color: #363A84;
}
.btn-cart{
    width: 40px;
    height: 40px;
}
.cursoAComprar img{
    width: 30%;
    margin-bottom: 20px;  
    object-fit: cover;  
}
.main{
    padding: 20px;
}
.titulo{
    margin-bottom: 50px;
    font-weight:400;
    font-size: 34px;
}
.cursoAComprar{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: 1px solid white;
    margin-top: 10px;
}
.descripcion{
    width: 70%;
    padding-left: 20px;
}
.eliminar:hover{
    color: #25C998;
    cursor: pointer;   
}
.nombre-creador{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 15px;
}
.nombre{
    font-size: 16px;
    line-height: 18px;
    font-weight:500;
}
.creador{
    font-size: 14px;
    line-height: 16px;
    margin-top: 10px;
    font-weight:500;
}
.precio-eliminar{    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
    align-items: flex-end;
    width:100%;
    margin-bottom: 15px;
}
.eliminar{
    color: white;
    font-size: 14px;    
    font-weight: 500;
}
.precio{
    font-size: 20px;
    font-weight:500;
}
.totalAPagar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 7vh;
    margin-top: 10px;
}
.totalAPagar h3{
    font-size: 24px;
    font-weight:500;
}
.total{
    font-size: 34px;
    font-weight:500;
}
.boton{
    background-color: #25C998;
    width: 100%;
    text-align: center;
    border-radius: 8px;
    border: 1px #25C998 solid;
    color: black;
    font-size: 24px; 
    font-weight: bold;
}
.boton:hover{
    background-color: salmon;
}
.subtitulo{    
    font-weight: 500;
    font-size: 26px;
    margin: 10px 0 20px 0;
    padding-left: 20px;
}
.CarouselContainer{
    overflow-x:auto;
    margin-right: 16px;
}
.Carousel{
    min-height: 212px;
    margin:0 0 16px 0;
    display: flex;
}
.CourseCard{
    width:280px !important;
    min-height: 212px;
    margin: 0 16px 0px;
    flex-shrink: 0;
}
.CourseCardImage{
    width:100%;
    height:140px;
}
.CourseCardTitle{
    margin: 8px 0 4px;
    color:var(--White);
}
img{
    display:block;
}
.CourseRating{
    padding: 0 16px 12px;
    color:var(--secondaryColor);
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}
.CourseCard > .CourseRating{
    margin:0;
}
.CourseLessonName, article.CourseCard > section.CourseRating > .CourseGrade{
    color:var(--secondaryColor);
    margin-right: 4px;
    min-width: 24px;
    height: 24px;
    display: flex;
    align-items: flex-end;
}
.CourseLessonName, article.CourseCard > section.CourseRating > img{
    margin-right: 4px;
}
.CourseLessonName{
    color:var(--White);
}
.LongCourseDescription{
    margin-bottom: 16px;
}
.CourseCardPrice{
    margin-top:8px;
}
.CourseCardCreator{
    margin-bottom: 4px;
}
.CourseReviewsSection{
    background-color: var(--BrandPurpleDark);
    width:100vw;
    min-height: 200px;
}
.CourseReviewsSectionTitle{
    padding-top: 16px;
    padding-left: 16px;
}
.ReviewContainer{
    padding: 12px 16px 0;
    width: 100vw;
}
article.ReviewContainer:last-of-type{
    padding-bottom: 16px;
}
.ReviewerRating{
    display: inline-flex;
}
h5.CourseGrade{
    margin-left: 8px;
}
footer{
    background-color:var(--darkBlueLogo);
}
.FooterContainer{
    padding-top: 16px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 16px;
    margin-left: 16px;
    justify-content: center;
}
.FooterTitle{
    font-size: 16px;
    color:var(--White);
}
.FooterItem{
    font-size: 14px;
    color:var(--White);
    font-weight: 400;
}
.Empresa{
    min-width: 136px;
    padding-bottom: 12px;
}
.Legal{
    width:140px;
    order:2;
}
.Contactanos{
    order:1;
    margin-left:36px;
    min-width: 116px;
    padding-bottom: 32px;
}
.Social{
    order:4;
    display: flex;
    margin-left: 32px;
    justify-content: center;
}
.InstagramLogo{
    margin-left: 8px;
    margin-right: 8px;
}
.Logo{
    order:5;
    margin-top:4px;
    width: 100%;
    display: flex;
    justify-content: center;
}
small{
    color:var(--secondaryColor);

    font-weight: 400;
    display: flex;
    margin-right: 16px;
    margin-left: 16px;
    justify-content: center;
    padding-bottom: 16px;
}
@media (max-width:359px) {
    .Contactanos{
        margin-left: 0;
    }
    .Legal{
        padding-bottom: 12px;
    }
    .Social{
        width: 100%;
        margin-left: 0;
        justify-self: center;
    }
}
@media (max-width:283px) {
    .Contactanos{
        width:136px;
    }
}
@media (max-width:324px) {
    .Contactanos{
        padding-bottom: 12px;
    }
}
@media (min-width:460px) {
    .Contactanos{
        margin-right: 36px;
    }
    .Legal{
        margin-right:32px;
    }
    .Social{
        margin-left:0;
        margin-right:36px;
    }
}
@media (min-width:532px) {
    .Social{
        margin:0;
        justify-self: center;
    }
    .Legal{
        margin-right: 0;
    }
}
@media (min-width:608px) {
    .Social{
        align-self: center;
    }
    .Legal{
        margin-right: 36px;
    }
    .Empresa{
        padding-bottom: 0;
    }
    .Logo{
        margin-top:0;
    }
    .descripcion{
        display: flex;
        flex-wrap: wrap;
    }
    .nombre{
        font-size: 24px;
        line-height: 30px;
    }
    .precio{
        font-size: 24px;
    }
    .creador{
        font-size: 18px;
    }
}
/*DESKTOP*/
@media (min-width:950px){
    .articulos{
        width:65%;
        height: 100%;
        margin-right: 30px;
    }
    .nombre-creador{
        margin-bottom: 10px;
        align-self: flex-start;
        width: 70%;
    }
    .descripcion{
        width: 85%;
    }
    .precio-eliminar{
        flex-direction: column;
        width:28%;
        align-items: flex-end;
        margin-bottom: 10px;
    }
    .precio-eliminar .eliminar{
        order: 1;
    }
    .eliminar{
        text-align: center;
    }
    .main{
        display: flex;
    }
    .cursoAComprar{
        height: 30%;
        justify-content: space-between ;
    }
    .cursoAComprar img{
        width: 15%;
        margin-bottom: 8px;
    }
    .totalAPagar{
        background-color: #030634;
        border-radius: 8px;
        border:1px solid #030634;
        width: 32%;
        align-self: center;
        padding: 8px;
        line-height: 8vh;
    }
    .totalAPagar h2{
        font-size: 2em;
    }
    .boton{
        margin-top: 6%;
        margin-bottom: 15px;
    }
    .FooterContainer{
        padding-top: 52px;
        padding-left: 4%;
        padding-right: 4%;
        justify-content: flex-start;
        margin:0;
    }
    .Logo{
        order: 0;
        width: 124px;
        height: 92px;
    }
    .Empresa{
        order:1;
        margin-right: 4%;
        margin-left: 4%;
        width: 180px !important;
    }
    .Legal{
        order:2;
        min-width: 180px !important;
        margin-right: 0;
    }
    .Contactanos{
        order: 3;
        padding:0;
        margin:0 4% 0 4%;
    }
    .Social{
        order:4;
        flex-direction: column;
        margin:auto;
    }
    .InstagramLogo{
        margin:0;
    }
    .FooterContainer > div > h5.FooterTitle{
        font-size: 24px;
    }
    .FooterContainer > div > h6.FooterItem{
        font-size: 20px;
    }
    .Social > img{
        width:48px;
        height: 48px;
        margin-bottom: 16px;
    }
    small{
        padding-top:40px;
        font-size: 16px;
        justify-content: flex-end;
        padding-right: 72px;
        padding-bottom: 32px;
        margin:0;
    }
}
@media (min-width:1236px) {
    .FooterContainer{
        padding-left: 5%;
        padding-right: 5%;
        justify-content: center;
    }
    .Empresa{
        margin-right: 5%;
        margin-left: 5%;
        width: 192px;
    }
    .Legal{
        min-width: 180px !important;
    }
    .Contactanos{
        order: 3;
        padding:0;
        margin:0 5% 0 5%;
    }
    .Social{
        flex-direction: row;
        align-self:flex-start;
        margin:0;
    }
    .Social > img{
        width:48px;
        height: 48px;
        margin: 0 16px 0 16px;
    }
}
