<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" 
    rel="stylesheet">
    <link rel="stylesheet" href="css/home.css">
    <title>Inicio</title>
</head>
<body>
    <!--Navbar-->
    <header class="header-not-logged-in">
        <!--Boton menu-->
        <div class="div-btn-menu">
            <label for="show-menu">
                <img src="images/icons/Hamburguesa.svg" alt="Menu principal" class="btn-menu">
            </label>
        </div>
        <input type="checkbox" id="show-menu" hidden>
        <!--Opciones del menu-->
        <div class="menu-options">
            <a href="#logout">Cerrar Sesion</a>
            <a href="#profile">Mi Perfil</a>
            <a href="#purchases-history">Historial de Compras</a>
        </div>

        <!--Logo-->
        <div class="logo-container">
            <a href="/">
                <img src="images/icons/Logo-KeepLearning.svg" alt="logo-kl" class="logo">
            </a>
        </div>

        <!--Botón de búsqueda-->
        <div class="div-btn-search">
            <label for="show-search">
                <img src="images/icons/Buscar.svg" alt="Botón búsqueda" class="btn-search">
            </label>
        </div>
        <input type="checkbox" id="show-search" hidden>

        <!--Botón carrito-->
        
        <div class="div-btn-cart">
            <label for="show-cart">
                <a href="/productCart">
                <img src="images/icons/Carrito.svg" alt="Botón carrito de compras" class="btn-cart">
            </a>
            </label>
        </div>
        <input type="checkbox" id="show-cart" hidden>

    </header>

    <!--Seccion Principal-->
    <section class="section-main">
        <div class="img-principal-div">
            <img src="images/principal-img.jpeg" alt="Imagen principal" class="principal-img">
        </div>
        <article class="main-article">
                <header class="principal-header">
                    Continuar aprendiendo, nunca está de más!
                </header>
                <p class="principal-p">
                    Bienvenido a Keep Learning, una de las plataformas de educación en línea más eficacez actualmente.
                </p>
                <div class="btns-principal">
                    <a href="/login">
                    <button class="btn-log-in">Iniciar Sesion</button>
                    </a>
                    <a href="/register">
                        <button class="btn-register">Registrate</button>
                    </a>
                </div>
        </article>
    </section>

    <section class="Courses">
        <div class="CoursesCategories">
            <div id="programming">
                <h3 class="CarouselName">Programación</h3>
            </div>
            <div id="web">
                <h3 class="CarouselName">Desarrollo Web</h3>
            </div>
            <div id="data-science">
                <h3 class="CarouselName">Ciencia de Datos</h3>
            </div>
            <div id="mobile">
                <h3 class="CarouselName">Desarrollo Móbil</h3>
            </div>
        </div>
        <!--Programacion-->
        <section class="CarouselContainer" >
            <section class="Carousel">
                <a href="/productDetail">
                <article class="CourseCard">
                    <img class="CourseCardImage" src="/images/courses/course1.jpg" alt="Thumbnail de curso de Redes Neuronales">
                    <h4 class="CourseCardTitle">Introducción a Redes Neuronales</h4>
                    <h5 class="CourseCardCreator">Creado por: Universidad Nacional Autónoma de México</h5>
                    <section class="CourseRating">
                        <h5 class="CourseGrade">4.0</h5>
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaVacia.svg" alt="Estrella" width="24px" height="24px">
                        <h6 class="CourseReviews">(1,240)</h6>
                    </section>
                    <h4 class="CourseCardPrice">$ 199 MXN</h4>
                </article>
                </a>
                <article class="CourseCard">
                    <img class="CourseCardImage" src="/images/courses/course2.jpg" alt="Thumbnail de curso de Python">
                    <h4 class="CourseCardTitle">Curso Python Completo</h4>
                    <h5 class="CourseCardCreator">Creado por: Universidad Nacional Autónoma de México</h5>
                    <section class="CourseRating">
                        <h5 class="CourseGrade">4.5</h5>
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaMitad.svg" alt="Estrella" width="24px" height="24px">
                        <h6 class="CourseReviews">(67,640)</h6>
                    </section>
                    <h4 class="CourseCardPrice">$ 279 MXN</h4>
                </article>

                <article class="CourseCard">
                    <img class="CourseCardImage" src="/images/courses/course3.jpg" alt="Thumbnail de curso de C++">
                    <h4 class="CourseCardTitle">C++ para Principiantes</h4>
                    <h5 class="CourseCardCreator">Creado por: Universidad Nacional Autónoma de México</h5>
                    <section class="CourseRating">
                        <h5 class="CourseGrade">3.9</h5>
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaVacia.svg" alt="Estrella" width="24px" height="24px">
                        <h6 class="CourseReviews">(3,195)</h6>
                    </section>
                    <h4 class="CourseCardPrice">$ 179 MXN</h4>
                </article>

                <article class="CourseCard">
                    <img class="CourseCardImage" src="/images/courses/course4.jpg" alt="Thumbnail de curso de Java">
                    <h4 class="CourseCardTitle">Java desde cero</h4>
                    <h5 class="CourseCardCreator">Creado por: Universidad Nacional Autónoma de México</h5>
                    <section class="CourseRating">
                        <h5 class="CourseGrade">5.0</h5>
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <h6 class="CourseReviews">(30,195)</h6>
                    </section>
                    <h4 class="CourseCardPrice">$ 259 MXN</h4>
                </article>
            </section>
        </section>

    </section>
        <!--Cursos Populares-->
        <section class="CarouselContainer" id="popular">
            <h2 class="CarouselName">Cursos Populares</h2>
            <section class="Carousel">
                <article class="CourseCard">
                    <img class="CourseCardImage" src="/images/courses/course5.jpg" alt="Thumbnail de curso de Javascript">
                    <h4 class="CourseCardTitle">Javascript Profesional</h4>
                    <h5 class="CourseCardCreator">Creado por: Universidad Autónoma de Zacatecas</h5>
                    <section class="CourseRating">
                        <h5 class="CourseGrade">4.0</h5>
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaVacia.svg" alt="Estrella" width="24px" height="24px">
                        <h6 class="CourseReviews">(1,240)</h6>
                    </section>
                    <h4 class="CourseCardPrice">$ 199 MXN</h4>
                </article>

                <article class="CourseCard">
                    <img class="CourseCardImage" src="/images/courses/course6.jpg" alt="Thumbnail de curso de React">
                    <h4 class="CourseCardTitle">React Básico</h4>
                    <h5 class="CourseCardCreator">Creado por: Universidad Autónoma de Zacatecas</h5>
                    <section class="CourseRating">
                        <h5 class="CourseGrade">4.5</h5>
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaMitad.svg" alt="Estrella" width="24px" height="24px">
                        <h6 class="CourseReviews">(67,640)</h6>
                    </section>
                    <h4 class="CourseCardPrice">$ 279 MXN</h4>
                </article>

                <article class="CourseCard">
                    <img class="CourseCardImage" src="/images/courses/course7.jpg" alt="Thumbnail de curso de Angular">
                    <h4 class="CourseCardTitle">Angular para Principiantes</h4>
                    <h5 class="CourseCardCreator">Creado por: Universidad Autónoma de Zacatecas</h5>
                    <section class="CourseRating">
                        <h5 class="CourseGrade">3.9</h5>
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaVacia.svg" alt="Estrella" width="24px" height="24px">
                        <h6 class="CourseReviews">(3,195)</h6>
                    </section>
                    <h4 class="CourseCardPrice">$ 179 MXN</h4>
                </article>

                <article class="CourseCard">
                    <img class="CourseCardImage" src="/images/courses/course8.jpg" alt="Thumbnail de curso de Vue">
                    <h4 class="CourseCardTitle">Vue.js desde cero</h4>
                    <h5 class="CourseCardCreator">Creado por: Universidad Autónoma de Zacatecas</h5>
                    <section class="CourseRating">
                        <h5 class="CourseGrade">5.0</h5>
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <img src="/images/icons/EstrellaRellena.svg" alt="Estrella" width="24px" height="24px">
                        <h6 class="CourseReviews">(30,195)</h6>
                    </section>
                    <h4 class="CourseCardPrice">$ 259 MXN</h4>
                </article>
            </section>
        </section>
    
    <footer>
        <div class="FooterContainer">
            <div class="Empresa">
                <h5 class="FooterTitle">Empresa</h5>
                <h6 class="FooterItem">¿Quiénes somos?</h6>
                <h6 class="FooterItem">¿Qué ofrecemos?</h6>
                <h6 class="FooterItem">Historia</h6>
                <h6 class="FooterItem">Catálogo de cursos</h6>
                <h6 class="FooterItem">Trabaja con nosotros</h6>
            </div>
            <div class="Legal">
                <h5 class="FooterTitle">Legal</h5>
                <h6 class="FooterItem">Política de privacidad</h6>
                <h6 class="FooterItem">Términos y condiciones de uso</h6>
            </div>
            <div class="Contactanos">
                <h5 class="FooterTitle">Contáctanos</h5>
                <h6 class="FooterItem">Blog</h6>
                <h6 class="FooterItem">Ayuda y asistencia</h6>
                <h6 class="FooterItem">Soy universidad</h6>
                <h6 class="FooterItem">Soy empresa</h6>
            </div>
            <div class="Social">
                <img src="/images/icons/Logo-Facebook.svg" alt="Facebook" height="32px" width="32px">
                <img src="/images/icons/Logo-Instagram.svg" class="InstagramLogo" alt="Instagram" height="32px" width="32px">
                <img src="/images/icons/Logo-LinkedIn.svg" alt="LinkedIn" height="32px" width="32px">
            </div>
            <div class="Logo">
                <img src="/images/icons/Logo-KeepLearning.svg" alt="KeepLearning.svg">
            </div>
        </div>
        <small class="FooterEnding">©2021, Keep Learning. Todos los derechos reservados.</small>
    </footer>
</body>
</html>