*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: 'Roboto';    
   }
main{
    background-color: #363A84;    
    color: white;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    padding-top: 15vh;
} 
h1{
    margin:18px;
    font-size: 30px;
    line-height: 28px;
}
form{
    padding: 16px;     
    display: flex;
    flex-direction: column;
}
input{
    background-color: #030634; 
    border-radius: 8px;
    border: 1px #5157B5 solid;
    height: 40px;
    color: white;
    padding:20px;
    margin: 12px;
}
label{
    font-size: 20px;
    line-height: 23.5px;
}
textarea{
    background-color: #030634; 
    border-radius: 8px;
    border: 1px #5157B5 solid;
    color: white;
    padding:20px;
    margin: 12px;
}
.select{
    background-color: #030634; 
    border-radius: 8px;
    border: 1px #5157B5 solid;
    height: 36px;
    color: white;
    padding: 0 10px;
    margin: 12px;
    font-size: 20px;
}
.categorizacion{
    display: flex;
    flex-direction: column;
}
.bloque{
    display: flex;
    flex-direction: column;
}
.precio{
    display: flex;
    flex-direction: column;
}
.archivo{
    background-color: initial; 
    border-radius: initial;
    border: 1px solid transparent;
    height: initial;
    color: initial;
    padding:initial;
    margin: 12px;
    font-size: 20px;
}
.botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}
.botonesL{
    display: block;
}
.agregarL{
    border: white 1px solid; 
    font-size: 16px;
    background-color:black;
    color:white;
    border-radius: 8px;
    padding: 5px 5px;
    margin: 8px;
}
.guardarL{
    border: #000000 1px solid; 
    font-size: 16px;
    background-color: #25C998;
    color:black;
    border-radius: 8px;
    padding: 5px 5px;
    margin: 8px;
}
.eliminarL{
    border: black 1px solid; 
    font-size: 16px;
    background-color: #F55454;
    color:black;
    border-radius: 8px;
    padding: 5px 5px;
    margin: 8px;
}
.guardar{
    border: white 1px solid; 
    font-size: 20px;
    background-color:black;
    color:white;
    border-radius: 8px;
    padding: 10px 10px;
    margin: 12px;
}
.eliminar{
    border: black 1px solid; 
    font-size: 20px;
    background-color: #F55454;
    color:black;
    border-radius: 8px;
    padding: 10px 10px;
    margin: 12px;
}
.agregarL:hover, .eliminarL:hover, .guardarL:hover, .guardar:hover, .eliminar:hover{
    opacity: .8;
    border-color: blue;
}

@media (min-width:780px) {
    .categorizacion{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    .precio{
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
    .botonesL{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 20px;
    }
    .agregarL, .eliminarL, .guardarL, .guardar, .eliminar{
        margin:12px;
        font-size: 20px;
        padding: 10px 10px;
    }
}