:root{
    /*FUENTE*/
    --font:"Roboto";
    /*COLORES*/
    --brandColor: #25C998;
    --BrandPurple:#5157B5;
    --BrandPurpleDark:#363A84;
    --darkBlueLogo:#1A1D53;
    --darkBlue100:#030634;
    --secondaryColor:#C4C4C4;
    --White:#FFFFFF;
    --Black:#000000;

    /*FONT SIZES, HEIGHTS & WEIGHTS*/
    --subtitle1FontSize:16px;
    --subtitle1FontWeight:500;
    --subtitle1FontHeight:20px;
    --subtitle2FontSize:14px;
    --subtitle2FontWeight:500;
    --subtitle2FontHeight:16px;
    --h5FontSize:24px;
    --h5FontWeight:500;
    --h5FontHeight:28px;
    --h6FontSize:20px;
    --h6FontWeight:500;
    --h6FontHeight:24px;
}

*{
    box-sizing: border-box !important;
    font-family:var(--font);
    margin:0;
    padding:0;
    border:0;
    line-height: 1.5em;
}

body{
    background-color: var(--darkBlue100);
}

nav {
    background-color: var(--brandColor);
    width:100%;
    height:80px;
    position: fixed;
    z-index: 100;
}

h5.Breadcrumb a,
h5{
    color:var(--secondaryColor);
    font-size:var(--subtitle2FontSize);
    font-weight: var(--subtitle2FontWeight);
    margin:0;
}
h5.Breadcrumb{
    padding-left: 5vw;
    padding-top: 96px;
    padding-bottom: 12px;
    flex-wrap: wrap;
}

.VideoPlayer{
    position: relative;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.CourseNameVideo{
    width:100%;
    height:100%;
    z-index: 1;
    max-width: 800px;
    max-height: 440px;
}

.PlayButton{
    position: absolute;
    z-index: 2;
    width: 72px;
    height: 72px;
}
h3,.CourseLessonName, article.CourseCard > section.CourseRating > .CourseGrade{
    margin:0;
    font-size: var(--subtitle1FontSize);
    font-weight: var(--subtitle1FontWeight);
    color:var(--White)
}
.CourseName,
.CreadorInfo{
    padding:0 16px 8px;
}

.CreadorInfo,
.DetailsSubtitle,
.DetailsSubtitle2,
.CourseCardCreator,
article.CourseCard > section.CourseRating > .CourseReviews{
    color:var(--secondaryColor)  !important;
    font-size: var(--subtitle2FontSize) !important;
    font-weight: var(--subtitle2FontWeight) !important;
}

.ShortCourseDescription{
    padding: 0 16px 4px;
    color:var(--secondaryColor);
    font-size: var(--subtitle2FontSize);
    font-weight: var(--subtitle2FontWeight)-100;
}

.CourseRating{
    padding: 0 16px 12px;
    color:var(--secondaryColor);
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}

.CourseGrade{
    margin:0;
    min-width: 32px;
    min-height: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
}
/*FLEX CONTAINERS*/

.CourseReviews{
    min-width: 56px;
    margin-left: 4px;
    height: 24px !important;
    display: flex;
    align-items: center;
}
.CourseStudents{
    color: var(--White);
    min-width: 112px;
    text-align: right;
}

.CoursePrice{
    color: var(--White);
    font-size: var(--h5FontSize);
    font-weight: var(--h5FontWeight);
    margin-top: 0;
    margin-bottom: 8px;
    text-align: center;
}

.ButtonsContainer{
    display: flex;
    flex-direction: column;
    height: 88px;
    margin:0 16px 8px;
    align-items: center;
    justify-content: center;
}
button{
    font-size: 14px;
    min-width: 328px;
    width:70vw;
    border-radius: 8px;
    height: 40px;
    font-weight: 500;
}
.Btn-Comprar:hover{
    background-color: #12654C;
}

.Btn-AgregarCarrito,
.Btn-SeeMore{
    background-color: var(--darkBlue100);
    color:var(--brandColor);
    margin-bottom: 8px;
    border:solid 1px;
    border-color: var(--brandColor);
}
.Btn-AgregarCarrito:hover,.Btn-SeeMore:hover{
    background-color: #808080;
}

.Btn-Comprar{
    background-color: var(--brandColor);
    color:var(--darkBlue100);
}

.DetailsTitle{
    padding-left:16px;
    padding-bottom: 4px;
}
.DetailsSubtitle,
.DetailsSubtitle2{
    padding-left: 16px;
}

@media (max-width:359px){
    button,.Btn-SeeMore{
        min-width: 160px !important;
        width:70vw !important;
        display: block;
    }
    .CourseLessonName{
        min-width: 144px !important;
        width: 75vw !important;
    }
    .article.CourseContents > .SectionTitle{
        min-width: 100% !important;
        width:100vw !important;
    }
    .ReviewerNameNRating{
        min-width: 192px !important; 
    }
}
@media (max-width:281px){
    .ReviewerNameNRating{
        min-width: 160px !important;
        margin-left: 8px !important;
    }
}
li,
.LongCourseDescription{
    color:var(--secondaryColor);
    font-size: 14px;
    font-weight: 400;
}

li {
    list-style-position: outside;
    margin-left: 16px;
}

ul.RequirementsList,
.LongCourseDescription{
    padding: 8px 16px 8px;
}

article.CourseContents > .SectionTitle {
    background-color: var(--BrandPurple);
    border-radius: 8px 8px 0 0;
    min-width:220px;
    padding:8px 20px 12px 20px;
    text-align: center;
    margin:auto;
}
.SectionTitle, 
.CourseCardPrice,
.CourseReviewsSectionTitle{
    font-size: var(--h6FontSize);
    font-weight: var(--h6FontWeight);
    color:var(--White);
}

.CourseLessonsContainer{
    background-color: var(--BrandPurple);
    width: 100%;
    min-height: 100px;
    margin-top: -4px;
}

.CourseLesson{
    margin: 16px;
    border-bottom: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.CourseLessonName{
    min-width: 248px;
    height: auto !important;
    width:75%;
    overflow:visible;
    min-height: 24px !important;
}
.CourseLessonTime{
    justify-self: flex-end;
    text-align: right;
    flex-grow: 1;
    color: var(--White);
}
.CourseLessonExplained{
    margin-top: 12px;
    margin-bottom: 16px;
    color: var(--White);
    font-weight: 400;
}

.CourseContents{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.Btn-SeeMore{
    margin:auto;
    margin-bottom: 24px;
    display: block;
    min-width: 328px;
}

article.AboutUniversity > .SectionTitle{
    padding: 16px 16px 8px;
    min-width: 192px;
}

article.AboutUniversity{
    position: relative;
    top:0;
    background-color: var(--Black);
    width: 100%;
    min-height: 460px;
    margin:0;
}
.UniversityInfo{
    color: var(--secondaryColor);
    margin: 0 16px -4px;
    font-weight: 400;
}

.CarouselContainer{
    overflow-x:auto;
    margin-right: 16px;
}

.Carousel{
    min-height: 212px;
    margin:0 0 16px 0;
    display: flex;
}
.CourseCard{
    width:280px !important;
    min-height: 212px;
    margin: 0 16px 0px;
    flex-shrink: 0;
}
.CourseCardImage{
    width:100%;
    height:140px;
}
.CourseCardTitle{
    margin: 8px 0 4px;
    color:var(--White);
}
img{
    display:block;
}

.CourseCard > .CourseRating{
    margin:0 !important;
    padding: 0;
}

.CourseLessonName, article.CourseCard > section.CourseRating > .CourseGrade{
    color:var(--secondaryColor);
    margin-right: 4px;
    min-width: 24px;
    height: 24px;
    display: flex;
    align-items: flex-end;
}
.CourseLessonName, article.CourseCard > section.CourseRating > img{
    margin-right: 4px;
}
.CourseLessonName{
    color:var(--White);
}
.LongCourseDescription{
    padding-bottom: 16px;
}

.CourseCardPrice{
    margin-top:8px;
}
.CourseCardCreator{
    margin-bottom: 4px;
}

.CourseReviewsSection{
    background-color: var(--BrandPurpleDark);
    width:100vw;
    min-height: 200px;
}
.CourseReviewsSectionTitle{
    padding-top: 16px;
    padding-left: 16px;
}

.ReviewContainer{
    padding: 12px 16px 0;
    width: 100vw;
}
article.ReviewContainer:last-of-type{
    padding-bottom: 16px;
}

.ReviewerRating{
    display: inline-flex;
}

h5.CourseGrade{
    margin-left: 8px;
}

.ReviewerRating{
    margin-top: 8px;
}
h4.ReviewerName{
    display: inline;
    height: 20px !important;
    color:var(--White);
}

.ReviewerInfo{
    display:flex;
    flex-wrap: wrap;
}
.ReviewerNameNRating{
    min-width:232px;
    width: 60%;
    margin-left: 16px;
}
.ReviewerPictureContainer{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: var(--brandColor);
    color:var(--White);
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 40px;
    flex-wrap: wrap;
}

.CourseReviewContent{
    margin-top:8px;
}
.ReviewerPhoto{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.DesktopBuyInfoVisible,.DesktopCourseDetailsVisible,.DesktopLessonVideoVisible{
    display: none;
}
.ButtonContainer{
    padding-bottom: 4px;
}

footer{
    background-color:var(--darkBlueLogo);
}
.FooterContainer{
    padding-top: 16px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 16px;
    margin-left: 16px;
    justify-content: center;
}
.FooterTitle{
    font-size: 16px;
    color:var(--White);
}

.FooterItem{
    font-size: 14px;
    color:var(--White);
    font-weight: 400;
}
.Empresa{
    min-width: 136px;
    padding-bottom: 12px;
}
.Legal{
    width:140px;
    order:2;
}
.Contactanos{
    order:1;
    margin-left:36px;
    min-width: 116px;
    padding-bottom: 32px;
}
.Social{
    order:4;
    display: flex;
    margin-left: 32px;
    justify-content: center;
}

.InstagramLogo{
    margin-left: 8px;
    margin-right: 8px;
}

.Logo{
    order:5;
    margin-top:4px;
    width: 100%;
    display: flex;
    justify-content: center;
}
small{
    color:var(--secondaryColor);
    font-size: 14px;
    font-weight: 400;
    display: flex;
    margin-right: 16px;
    margin-left: 16px;
    text-align: center;
    justify-content: center;
    padding-bottom: 16px;
}
@media (max-width:359px) {
    .Contactanos{
        margin-left: 0;
    }
    .Legal{
        padding-bottom: 12px;
    }
    .Social{
        width: 100%;
        margin-left: 0;
        justify-self: center;
    }
}
@media (max-width:283px) {
    .Contactanos{
        width:136px;
    }
}
@media (max-width:324px) {
    .Contactanos{
        padding-bottom: 12px;
    }
}
@media (min-width:460px) {
    .Contactanos{
        margin-right: 36px;
    }
    .Legal{
        margin-right:32px;
    }
    .Social{
        margin-left:0;
        margin-right:36px;
    }
}
@media (min-width:532px) {
    .Social{
        margin:0;
        justify-self: center;
    }
    .Legal{
        margin-right: 0;
    }
    .CourseName,
    .CreadorInfo,
    .ShortCourseDescription,
    .ProductBasicInfo > .CourseRating,
    .DetailsTitle,
    .DetailsSubtitle,
    ul.RequirementsList,
    .DetailsSubtitle2,
    .LongCourseDescription,
    .SectionTitle,
    .CourseReviewsSectionTitle,
    .ReviewContainer{
        padding-left: 20px !important;
        padding-right:20px !important;
    }
    .CourseLesson,
    .UniversityInfo,
    article.CourseCard{
        margin-left: 20px !important;
        margin-right:20px !important;
    }

}

@media (min-width:608px) {
    .Social{
        align-self: center;
        
    }
    .Legal{
        margin-right: 36px;
    }
    .Empresa{
        padding-bottom: 0;
    }
    .Logo{
        margin-top:0;
    }
}
/*DESKTOP*/
@media (min-width:950px){
    .ShortCourseDescription,.DetailsSubtitle,.DetailsSubtitle2,li,.LongCourseDescription,
    .UniversityInfo{
        color:var(--White) !important;
    }
    .FooterContainer{
        padding-top: 52px;
        padding-left: 4%;
        padding-right: 4%;
        justify-content: flex-start;
        margin:0;
    }
    .Logo{
        order: 0;
        width: 124px;
        height: 92px;
    }
    .Empresa{
        order:1;
        margin-right: 4%;
        margin-left: 4%;
        width: 180px !important;
    }
    .Legal{
        order:2;
        min-width: 180px !important;
        margin-right: 0;
    }
    .Contactanos{
        order: 3;
        padding:0;
        margin:0 4% 0 4%;
    }
    .Social{
        order:4;
        flex-direction: column;
        margin:auto;
    }
    .InstagramLogo{
        margin:0;
    }
    .FooterContainer > div > h5.FooterTitle{
        font-size: 24px;
    }
    .FooterContainer > div > h6.FooterItem{
        font-size: 20px;
    }
    .Social > img{
        width:48px;
        height: 48px;
        margin-bottom: 16px;
    }
    small{
        padding-top:40px;
        font-size: 16px;
        justify-content: flex-end;
        padding-right: 72px;
        padding-bottom: 32px;
        margin:0;
    }
    h5,h5.Breadcrumb a,
    li,.CreadorInfo,.CourseReviews
    {
        font-size: 24px !important;
        font-weight: 400;
    }
    h3{
        font-size: 48px !important;
        font-weight: 400 !important;
        line-height: 1em;
        letter-spacing: -0.05em;
    }
    h4,.DetailsSubtitle,.DetailsSubtitle2,button,.ShortCourseDescription{
        font-weight: 400 !important;
        font-size: 34px !important;
        line-height: 40px;
    }
    h6,.CourseCardCreator{
        font-size: 20px !important;
    }
    .ProductBasicInfo{
        display: flex;
        flex-wrap: wrap;
        margin-left: 5vw;
        width: 90vw;
    }
    .DesktopFirstHalf{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .VideoPlayer{
        width: 100%;
        height: auto;
        margin:0;
    }
    .DesktopFirstCuadrant{
        width: 60%;
        padding-right: 48px;
        order:1;
    }
    .DesktopFirstCuadrant > *,
    .ButtonsContainer{
        margin:0;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .CourseNameVideo{
        height: auto;
    }
    .CourseName,.DetailsTitle,.DetailsSubtitle,.DetailsSubtitle2,.LongCourseDescription{
        padding-left: 0 !important;
    }
    .DetailsTitle{
        padding-top: 32px;
    }
    .CreadorInfo,.DetailsTitle{
        padding-bottom: 24px;
    }
    .DetailsSubtitle,.DetailsSubtitle2{
        padding-bottom: 16px;
    }
    .DesktopFirstCuadrant > .CourseRating > img{
        width: 48px;
        height: 48px;
    }
    .CourseGrade{
        margin-right: 8px;
        height: 100%;
    }
    .DesktopFirstCuadrant > .CourseRating > .CourseReviews{
        margin-right: 16px;
        margin-left: 24px;
        height: 100% !important;
    }
    .DesktopSecondCuadrant{
        order:2;
        width: 40%;
    }
    .DesktopBuyInfoVisible,.DesktopCourseDetailsVisible,.DesktopLessonVideoVisible{
        display: contents;
        margin-top: 20px;
    }
    button{
        width: 100%;
        max-width: 356px;
        height: 52px;
        margin-bottom: 24px !important;
    }
    .ButtonsContainer{
        align-items: flex-end;
        height: auto;
        min-height: 110px;
    }
    .CoursePrice{
        text-align: right;
        margin-bottom: 20px;
        margin-top:20px;
    }
    .DesktopBuyInfoHidden,
    .DesktopCourseDetailsHidden{
        display: none;
    }
    .CourseBenefits{
        float: right;
        max-width: 356px;
    }
    .LongCourseDescription{
        padding-bottom: 80px;
    }
    article.CourseContents > .SectionTitle{
        margin-left: 5vw !important;
        padding: 12px 44px 12px 44px !important;
    }
    .CourseLesson{
        margin-left: 5vw !important;
        margin-right: 0;
    }
    .DesktopLessonVideoVisible{
        width: 25%;
        display: inline;
        margin-bottom: 24px;
        margin-left: 200px;
        height: 50%;
        align-self: center;
    }
    .CourseLessonsContainer{
        display: flex;
        flex-direction: column;
    }
    .CourseLessonExplained{
        width: 50%;
    }
    .CourseLessonName{
        width: 50%;
    }
    .CourseLessonTime{
        width: 15%;
        flex-grow: 0;
    }
    .CourseLessonsContainer > .Btn-SeeMore{
        margin-top: 24px;
        margin-bottom: 48px !important;
    }
    .article.AboutUniversity > .SectionTitle,.CourseReviewsSectionTitle{
        margin-left: 5vw !important;
        margin-right: 5vw !important;
        margin-top: 56px;
    }
    article.AboutUniversity > .SectionTitle,.CourseReviewsSectionTitle{
        padding: 48px 5vw 56px 5vw !important;
    }
    .UniversityInfo{
        margin-left: 5vw !important;
        margin-right: 5vw !important;
    }
    .CarouselContainer{
        padding-bottom: 80px;
    }
    .CourseCard{
        width: 296px !important;
    }
    article.CourseCard > section.CourseRating > h6.CourseReviews{
        font-size: 20px !important;
    }
    article.CourseCard > section.CourseRating > .CourseGrade{
        height: 100%;
    }
    .ReviewContainer{
        padding-left: 5vw !important;
        padding-right: 5vw !important;
    }
    .ReviewerPictureContainer{
        width: 156px;
        height: 156px;
        margin-right: 48px;
    }
    .ReviewerNameNRating > .ReviewerRating > img{
        width: 48px !important;
        height: 48px !important;
    }
    .ReviewerNameNRating > .ReviewerRating > .CourseGrade{
        height: 48px;
        font-size: 24px !important;
    }
    .ReviewerNameNRating{
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        margin-left: 0;
    }
    .ReviewerNameNRating > .ReviewerRating{
        margin-left: 56px;
    }
    .CourseReviewContent{
        margin-left: 204px;
        position: relative;
        top:-80px;
    }
}
@media (min-width:1236px) {
    .FooterContainer{
        padding-left: 5%;
        padding-right: 5%;
        justify-content: center;
    }
    .Empresa{
        margin-right: 5%;
        margin-left: 5%;
        width: 192px;
    }
    .Legal{
        min-width: 180px !important;
    }
    .Contactanos{
        order: 3;
        padding:0;
        margin:0 5% 0 5%;
    }
    .Social{
        flex-direction: row;
        align-self:flex-start;
        margin:0;
    }
    .Social > img{
        width:48px;
        height:48px;
        margin: 0 16px 0 16px;
    }
}

.header-not-logged-in{
    width: 100vw;
    margin: 0;
    display: flex;
    background-color: #1A1D53;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
}
.div-btn-menu{
    display: block;
    width: 40px;
    height: 40px;
    margin-left: 5.55%;
    border-radius: 8px;
    border: 1px solid #5156B5;
    background-color: #363A84;
}
.menu-options{
    display: none;
    margin: 0;
    padding: 0;
}
.menu-options > a{
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    position: relative;
}
.menu-options > li:hover {
    background-color: dimgray;
    position: relative;
}
.menu-options > li a, .menu-options > li label {
    text-decoration: none;
    color: #fff;
    width: 100%;
    display: block;
    min-height: inherit;
    padding: 8px;
}
input[type="checkbox"]:checked + .menu-options{
    display: block;
}
.logo-container{
    margin-left: 21.11%;
    margin-right: 5.55%;
}
.div-btn-search{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-right: 4.44%;
    border: 1px solid #5156B5;
    background-color: #363A84;
}
.btn-search{
    width: 40px;
    height: 40px;
}
.div-btn-cart{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-right: 5.55%;
    border: 1px solid #5156B5;
    background-color: #363A84;
}
.btn-cart{
    width: 40px;
    height: 40px;
}
section.adminView {
    padding-top:80px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.botonesSuperiores{
    margin:8px;
    width:30vw;
}
section.adminView > h3 {
    width: 100%;
}