<footer>
    <div class="FooterContainer">
        <div class="Empresa">
            <h5 class="FooterTitle">Empresa</h5>
            <h6 class="FooterItem">¿Quiénes somos?</h6>
            <h6 class="FooterItem">¿Qué ofrecemos?</h6>
            <h6 class="FooterItem">Historia</h6>
            <h6 class="FooterItem">Catálogo de cursos</h6>
            <h6 class="FooterItem">Trabaja con nosotros</h6>
        </div>
        <div class="Legal">
            <h5 class="FooterTitle">Legal</h5>
            <h6 class="FooterItem">Política de privacidad</h6>
            <h6 class="FooterItem">Términos y condiciones de uso</h6>
        </div>
        <div class="Contactanos">
            <h5 class="FooterTitle">Contáctanos</h5>
            <h6 class="FooterItem">Blog</h6>
            <h6 class="FooterItem">Ayuda y asistencia</h6>
            <h6 class="FooterItem">Soy universidad</h6>
            <h6 class="FooterItem">Soy empresa</h6>
        </div>
        <div class="Social">
            <img src="/images/icons/Logo-Facebook.svg" alt="Facebook" height="32px" width="32px">
            <img src="/images/icons/Logo-Instagram.svg" class="InstagramLogo" alt="Instagram" height="32px" width="32px">
            <img src="/images/icons/Logo-LinkedIn.svg" alt="LinkedIn" height="32px" width="32px">
        </div>
        <div class="Logo">
            <img src="/images/icons/Logo-KeepLearning.svg" alt="KeepLearning.svg">
        </div>
    </div>
    <small class="FooterEnding">©2021, Keep Learning. Todos los derechos reservados.</small>
</footer>