<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%switch(title){
        case "Carrito de compras": %>
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet" >
            <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="/css/productCart.css">
            <%break;
        case "Registro":%>
            <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="/css/register.css">
            <% break;
        case "Inicia Sesión":%>
            <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="/css/login.css">
            <% break;
        case "Inicio":%>
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="/css/home.css">
            <% break;
        case "Detalle de producto":%>
            <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="/css/productDetail.css">
            <% break;
        case "Editar Curso":%>
            <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
            <link type="text/css" rel="stylesheet" href="/css/home.css">
            <link rel="stylesheet" href="/css/edition.css">
            <% break;
        case "Crear Curso":%>
            <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
            <link type="text/css" rel="stylesheet" href="/css/home.css">
            <link rel="stylesheet" href="/css/edition.css">
            <% break;}%>
</head>
